{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update User{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>Update User {{old_name}}</h4>
<h4 id='message'>{{message}}</h4>
<form action="{{url_for('update_user_post',old_name=old_name)}}" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name">
    <label for="email">Email</label>
    <input class="form-control" name="email" id="email">
    <label for="billing_address">Billing Address</label>
    <input class="form-control" name="billing_address" id="billing_address">
    <label for="postal_code">Postal Code</label>
    <input class="form-control" name="postal_code" id="postal_code">
    <input class="btn btn-primary" type="submit" value="Update">
  </div>
</form>
{% endblock %}